
.alert {
    height: 4rem;
}

.movie_detail {
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    color: white;
    height: auto;
}

.movie_card_img{
   width: 25vw;
   height: 40vw;
   object-fit: cover;
   margin-left: 4rem ;
    margin-top: 2.5rem ;
    margin-bottom: 4rem ;
}

.details {
    width: 55%;
    margin-top: 3rem ;
    margin-right: 5rem ;
}
.details h1{
    margin-bottom: 2rem;
}
button {
    margin: 1rem;
}

@media only screen and (max-width: 600px) {
    .movie_detail {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        color: white;
    }
    .movie_card_img{
       
        margin: 1rem;
     
       
    }
    
    .details {
        width: 100%;
        margin: 1rem;
    }
    .details h1{
        margin: 1rem;
        text-align: center;
    }
    button {
        margin: 1rem;
    }
    .buttons{
        padding-left: 2rem;
    }

}