.showlist {
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-start;
    background-color: rgb(20, 20, 20);
    justify-content: center;
}
.alert-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 1000; /* Adjust the z-index to make sure it's above other elements */
  }